/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/09/2017, 01:15:40
    Author     : Wilton Garcia
*/

.myform{
    border:solid;
    font-size:14px;
   
    border-color:activecaption;
    border-radius:1em;
    background-color: buttonface;
    
}